@import '../../../styles/vars.sass'

.ul
    list-style-type: none
    &:not(:first-child)
        margin-top: 15px
    &:not(:last-child)
        margin-bottom: 15px

    li
        position: relative
        padding-left: 15px
        &:not(:last-child)
            margin-bottom: 5px
        &::before
            content: ''
            width: 5px
            height: 5px
            background-color: $color-green-1
            border-radius: 50%
            position: absolute
            top: calc(0.5em - 2.5px)
            left: 0
