@import '../../styles/vars.sass'

.sectionHeader
    display: flex
    align-items: center
    margin-bottom: 20px
.sectionHeaderIconSmall
    width: 35px
    margin-right: 10px

.main
    display: flex
    justify-content: space-between
    align-items: flex-start
    margin-bottom: 100px

.anchor
    display: block
    font-family: 'Roboto-Regular'
    font-size: 22px
    color: $color-grey-main
    @media screen and (max-width: 768px)
        font-size: 18px

    &:not(:last-child)
        margin-bottom: 10px

.profile
    &Note
        margin-bottom: 15px
        font-size: 16px
        opacity: 0.7
    &Photo
        width: 250px
        max-width: 45%
        margin-left: 20px
        border-radius: 15px
        overflow: hidden
        @media screen and (max-width: 768px)
            margin-left: 10px

.experience
    &Item
        display: flex
        align-items: center
        &:not(:last-child)
            margin-bottom: 10px
    &Icon
        width: 35px
        height: 35px
        margin-right: 10px


.worksList
    background: red

.contactForm
    width: 500px
    max-width: 100%
    margin: 40px auto
    text-align: center

    &:last-child
        margin-bottom: 0


.theme-dark

    .section
        border-color: $color-white

    .darkThemeInvert
        filter: invert(1)

    .anchor
        display: block
        font-family: 'Roboto-Regular'
        font-size: 22px
        color: $color-grey-main
        @media screen and (max-width: 768px)
            font-size: 18px

        &:not(:last-child)
            margin-bottom: 10px

    .profile
        &Note
            margin-bottom: 15px
            font-size: 16px
            opacity: 0.7
        &Photo
            width: 250px
            max-width: 45%
            margin-left: 20px
            border-radius: 15px
            overflow: hidden
            @media screen and (max-width: 768px)
                margin-left: 10px

    .experience
        &Item
            display: flex
            align-items: center
            &:not(:last-child)
                margin-bottom: 10px
        &Icon
            width: 35px
            height: 35px
            margin-right: 10px


    .worksList
        background: red

    .contactForm
        width: 500px
        max-width: 100%
        margin: 40px auto
        text-align: center

        &:last-child
            margin-bottom: 0