@import '../../../styles/vars.sass'
.link
    display: flex
    align-items: center
    justify-content: flex-start
    font-size: 12px
    color: $color-green-1

    &:hover
        color: $color-green-2

        .icon
            fill: $color-green-2

.icon
    width: 20px
    height: 20px
    margin-right: 5px
    fill: $color-green-1
