*
  margin: 0
  padding: 0
  box-sizing: border-box
  letter-spacing: 0.02em
  line-height: 1.4em

a
  color: $color-green-dark
  text-decoration: none

img
  max-width: 100%
  pointer-events: none

button
  border: none
  outline: none

input
  font-family: 'Roboto-Regular'
