.my-slick-slider
    .slick-slide
        outline: none

    .slick-dots
        position: relative
        bottom: auto
        margin-top: 20px
        line-height: 0
        li
            width: 10px
            height: 10px
            margin: 0 2.5px
            opacity: 0.5
            background-color: $color-grey-main
            border-radius: 50%
            transition: opacity 0.3s
            button
                width: inherit
                height: inherit
                opacity: 0

            &.slick-active,
            &:hover
                opacity: 1

    .slick-prev,
    .slick-next
        width: 40px
        height: 40px
        z-index: 5

    .slick-prev:before,
    .slick-next:before
        content: ''
        display: block
        width: 60%
        height: 60%
        font-size: 1em
        border-top: 2px solid $color-green-1
        transition: all 200ms ease

    .slick-prev
        &:before
            border-left: 2px solid $color-green-1
            transform: rotate(-45deg)
            margin-left: 30%
        &:hover
            &:before
                border-color: $color-green-2
                box-shadow: -0.3vmin -0.3vmin 0 $color-green-1

    .slick-next
        &:before
            border-right: 2px solid $color-green-1
            transform: rotate(45deg)
        &:hover
            &:before
                border-color: $color-green-2
                box-shadow: 0.3vmin -0.3vmin 0 $color-green-1

    @media screen and (max-width: $main-container-width)
        .slick-prev
            left: 0
        .slick-next
            right: 0
