h1,
h2,
h3,
h4,
h5,
h6
    font-family: 'Roboto-Medium'
    font-weight: normal

h1
    font-size: 32px
    &:not(:last-child)
        margin-bottom: 20px
    @media screen and (max-width: 768px)
        font-size: 24px

h2
    font-size: 28px
    &:not(:last-child)
        margin-bottom: 15px
    @media screen and (max-width: 768px)
        font-size: 24px

h3,
h4,
h5
    &:not(:last-child)
        margin-bottom: 10px

h3
    font-size: 24px
    @media screen and (max-width: 768px)
        font-size: 18px


h4
    font-size: 22px
    @media screen and (max-width: 768px)
        font-size: 18px

h5
    font-size: 20px
    @media screen and (max-width: 768px)
        font-size: 18px

h6
    font-size: 18px
    @media screen and (max-width: 768px)
        font-size: 16px
