@import 'fonts.sass'
@import 'vars.sass'
@import 'nullify.sass'
@import 'titles.sass'
@import 'general-classes.sass'
@import 'slick-custom.sass'

body
  font-family: 'Roboto-Light'

a
  color: $color-green-dark

section
  margin: 50px 0

  &:last-child
    margin-bottom: 0

b,
strong
  font-family: 'Roboto-Medium'
  font-weight: normal

p
  line-height: 1.35em

p,
ul,
ol
  &:not(:last-child)
    margin-bottom: 10px

.page
  padding-bottom: 40px

.page.theme-light
  color: $color-black-main

.page.theme-dark
  color: white
  background-color: #333030
