.button
    border: none
    outline: none
    background-color: transparent
    transition: background-color 0.3s
    font-family: 'Roboto-Regular'
    border-radius: 5px
    min-width: 150px
    padding: 10px
    letter-spacing: 0.03em
    &:disabled
        opacity: 0.4
    &:not(:disabled)
        cursor: pointer