@import '../../../styles/vars.sass'

.button
    background-color: $color-green-2
    color: white
    &:not(:disabled)
        &:hover
            background-color: $color-green-1
            box-shadow: inset 0 0 1px 1px $color-green-2
