@import '../../styles/vars.sass'

.work
    &SiteLink
        display: inline-block
        span
            display: block
            font-style: italic
            color: $color-green-1
            transition: color 0.3s

        &:hover
            span
                color: $color-green-2

    &DetailImg
        width: 400px

    // НЕ ПРИМЕНЯЕТСЯ, ДОДЕЛАТЬ!
    &Slider
        div.slick-active
            opacity: 0.3
            img
                object-position: center bottom !important
    // НЕ ПРИМЕНЯЕТСЯ, ДОДЕЛАТЬ!

    &Slide
        height: 500px
        img
            width: 100%
            height: 100%
            object-fit: cover
            object-position: center top
            transition: object-position 4s
