.worksList
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 30px

    @media screen and (max-width:768px)
        grid-template-columns: repeat(2, 1fr)
    @media screen and (max-width:660px)
        grid-template-columns: auto