@import '../../styles/vars.sass'

.work
    &:hover
        .pictureWrapper
            border-radius: 25px
        .picture
            transform: scale(1.1)
        .name
            color: $color-green-2


    &:not(:last-child)
        @media screen and (max-width:660px)
            padding-bottom: 30px
            border-bottom: 1px solid $color-green-3
        
.name
    font-size: 16px
    font-family: 'Roboto-Regular'
    text-align: center

.pictureWrapper
    max-width: 400px
    margin: 0 auto 10px
    overflow: hidden
    border-radius: 5px
    transition: border-radius 0.3s


.picture
    display: block
    width: 100%
    height: 100%
    object-fit: cover
    transition: transform 0.3s
