@import "../../styles/_vars"

.section
    border-radius: 15px
    padding: 20px
    border: 1px solid $color-grey-main

.header
    display: flex
    align-items: center
    margin-bottom: 20px

.icon
    width: 50px
    margin-right: 15px

    &_theme_dark
        filter: invert(1)