@import '../../styles/vars.sass'

.item
    width: 200px
    max-width: 100%
    &:not(:last-child)
        margin-bottom: 10px

.name
    margin-bottom: 3px
    font-size: 18px
    color: $color-grey-main
    font-family: 'Roboto-Regular'

.fullLevel
    width: 100%
    height: 2px
    background-image: url('./images/level-line-disabled.png')
.level
    height: 100%
    background-image: url('./images/level-line.png')
