.header
    position: fixed
    width: 100%
    top: 0
    left: 0
    padding: 5px 0
    background-color: white
    z-index: 50
    &Body
        display: flex
        justify-content: space-between
        align-items: center
    &Logo
        display: flex
        align-items: center
        font-size: 14px
        img
            margin-right: 10px
            border-radius: 50%
            overflow: hidden