@import '../../../styles/vars.sass'

.links
    &List
        display: flex;

.link
    position: relative
    width: 40px
    height: 40px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
    border: 1px solid transparent

    &Icon
        width: 60%
        max-height: 100%
        fill: $color-black-main
        transition: transform 0.3s, fill 0.3s

    &:hover
        animation: linkHover 0.2s linear forwards
        .linkIcon
            transform: scale(0.95) translateZ(0)
            fill: $color-grey-main

@keyframes linkHover
    0%
        border-top-color: transparent
        border-right-color: transparent
        border-bottom-color: transparent
        border-left-color: transparent
    10%
        border-top-color: $color-grey-main
        border-right-color: transparent
        border-bottom-color: transparent
        border-left-color: transparent
    35%
        border-top-color: $color-grey-main
        border-right-color: $color-grey-main
        border-bottom-color: transparent
        border-left-color: transparent
    60%
        border-top-color: $color-grey-main
        border-right-color: $color-grey-main
        border-bottom-color: $color-grey-main
        border-left-color: transparent
    85%,100%
        border-top-color: $color-grey-main
        border-right-color: $color-grey-main
        border-bottom-color: $color-grey-main
        border-left-color: $color-grey-main