@import '../../styles/_vars'

@mixin textfield()
    width: 100%
    border-radius: 5px
    outline: none
    padding: 10px
    border: 1px solid $color-grey-main

    &::placeholder
        font-style: italic
        color: $color-grey-main
        
    &Error
        border-color: red
        color: red