@import '../../../styles/vars.sass'

.video
    width: 100%
    &Block

        &:not(:last-child)
            margin-bottom: 20px

        &:not(.isMobile)
            .video
                &Controllers
                    &:not(:hover)
                        .videoControllerPause
                            opacity: 0
        &.isMobile
            .videoControllerPause
                opacity: 0

    &Wrapper
        position: relative

    &Controllers
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        display: flex
        align-items: center
        justify-content: center

    &ControllersDisabled
        pointer-events: none

    &ControllerItem
        width: 70px
        height: 70px
        display: flex
        align-items: center
        justify-content: center
        border-radius: 50%
        color: white
        cursor: pointer
        background: $color-green-2
        box-shadow: 0 0 10px 0 $color-green-2
        &:before
            content: ""
            display: block
            border-style: solid

    &ControllerPlay
        &:before
            width: 0
            height: 0
            border-width: 15px 0 15px 25px
            border-color: transparent transparent transparent white
            margin-right: -5px
    &ControllerPause
        &:before
            width: 10px
            height: 25px
            border-width: 0 5px 0 5px
            border-color: transparent white transparent white

    &Description
        margin-top: 5px